numpy==2.1.1
opencv-python==4.11.0.86
pandas==2.2.3
psycopg2-binary==2.9.10
psycopg2==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
ultralytics==8.3.98
dagster-postgres==0.25.0
dagster==1.9.0
fastparquet==2024.11.0
pyarrow==19.0.1
pytest==8.3.5